.body {
    /*background:#191919;*/
    background-image: url("portfolio-background.jpg");
    background-attachment: fixed;
    /*background-repeat: no-repeat;
    background-size:cover;*/
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family: 'Roboto', sans-serif;
    /*color: rgb(236, 136, 4);*/
}

/*.banner{
    height: 250px;
    width: 1366px;
    margin-top: -9px;
    margin-left: -8px;
}*/

.h1 {
    margin-top: 40px;
    text-align: center;
    font-size: 100px;
    color: rgb(207, 200, 188);
    background: rgb(5, 5, 5);
    opacity: 95%;
}

.navigation-div {
    margin-top: -50px;
    margin-left: 25%;
    height: 60px;
    width: 700px;
    /*border: 1px outset black;*/
}

.nevigation-div-button {
    height: 50px;
    width: 100px;
    margin-top: 10px;
    margin-left: 100px;
    background: rgb(153, 22, 22);
    border-radius: 25px;
    border: 0px;
    font-size: 20px;
    opacity: 90%;
    color: rgb(207, 200, 188);
    transition: width 0.725s;
}

.nevigation-div-button:hover {
    opacity: 100%;
    width: 150px;
}

.div-body {
    background: rgb(135, 22, 22);
    margin-top: 100px;
    opacity: 95%;
    margin-right: 70px;
    margin-left: 70px;
    border-radius: 15px;
}

.h3-contact-us {
    font-size: 60px;
    margin-left: 60px;
    color: rgb(207, 200, 188);
    margin-bottom: 0px;
}

.p-note {
    margin-left: 100px;
    margin-top: 10px;
    color: rgb(207, 200, 188);
    font-size: 30px;
}

.form-to-input-message {
    background: rgb(255, 255, 255);
    opacity: 95%;
    margin-left: 25px;
    float: left;
    border-radius: 25px;
    width: 700px;
    height: 400px;
}

.input-setting {
    margin-top: 90px;
    margin-left: 150px;
    height: 40px;
    width: 400px;
    font-family: Helvetica, Arial, sans-serif;
}

.input-setting2 {
    margin-top: 10px;
    margin-left: 150px;
    height: 40px;
    width: 400px;
    font-family: Helvetica, Arial, sans-serif;
}

.input-setting3 {
    float: right;
    margin-top: 10px;
    margin-right: 142px;
    height: 40px;
    width: 100px;
    font-family: Helvetica, Arial, sans-serif;
}

.text-area-setting {
    float: right;
    margin-top: 10px;
    margin-right: 142px;
    height: 90px;
    width: 400px;
    font-family: Helvetica, Arial, sans-serif;
}

.div-other-contact-details {
    margin-right: 100px;
    float: right;
    /*background: black;*/
    background-image: url('contact-page-contact-info-graphics.png');
    background-repeat: no-repeat;
    border-radius: 25px;
    width: 400px;
    height: 450px;
}

.p-setting1 {
    color: rgb(207, 200, 188);
    margin-top: 90px;
    margin-left: 100px;
}

.p-setting2 {
    color: rgb(207, 200, 188);
    margin-top: 120px;
    margin-left: 73px;
}

.p-setting3 {
    color: rgb(207, 200, 188);
    margin-top: 100px;
    margin-left: 60px;
}

.p-setting4 {
    color: rgb(207, 200, 188);
    margin-top: 0px;
    margin-left: 73px;
}