.body {
    /*background:#191919;*/
    /* background-image: url("background-2.png"); */
    background-image: url("portfolio-background.jpg");
    background-attachment: fixed;
    /*background-repeat: no-repeat;
    background-size:cover;*/
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family: 'Roboto', sans-serif;
    /*color: rgb(236, 136, 4);*/
}

/*
.banner{
    height: 250px;
    width: 1366px;
    margin-top: -9px;
    margin-left: -8px;
}*/

.h1 {
    margin-top: 40px;
    text-align: center;
    font-size: 100px;
    color: rgb(207, 200, 188);
    background: rgb(5, 5, 5);
    opacity: 95%;
}

.navigation-div {
    margin-top: -50px;
    margin-left: 25%;
    height: 60px;
    width: 700px;
    /* border: 1px outset black;*/
}

.nevigation-div-button {
    height: 50px;
    width: 100px;
    margin-top: 10px;
    margin-left: 100px;
    background: rgb(153, 22, 22);
    border-radius: 25px;
    border: 0px;
    font-size: 20px;
    opacity: 90%;
    color: rgb(207, 200, 188);
    transition: width 0.725s;
}

.nevigation-div-button:hover {
    opacity: 100%;
    width: 150px;
}

.input-search-your-designer-developer {
    background: rgb(46, 45, 45);
    color: rgb(207, 200, 188);
    margin-top: 10px;
    margin-left: 460px;
    width: 350px;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    padding-left: 20px;
    border: none;
    outline: none;
    opacity: 90%;
    transition: width 1s;
}

.input-search-your-designer-developer:hover {
    opacity: 100%;
    width: 400px;
}

.button-go {
    margin-top: 15px;
    background: rgb(207, 200, 188);
    color: rgb(46, 45, 45);
    font-size: 25px;
    border: none;
    outline: none;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    opacity: 90%;
    transition: width 1s;
}

.button-go:hover {
    opacity: 100%;
    width: 75px;
}

.div-main {
    margin-left: 160px;
    margin-top: 70px;
    margin-right: 160px;
}

.div-Owners-Data {
    float: left;
    margin-right: 160px;
    color: rgb(207, 200, 188);
    background: rgb(153, 22, 22);
    border-radius: 0px 0px 25px 25px;
    width: 710px;
    height: 450px;
    opacity: 95%;
}

.h1-Owners-Data {
    padding-top: 10px;
    font-size: 50px;
    margin-left: 25px;
}

.div-pics-burhan {
    width: 250px;
    margin-left: 25px;
    height: 300px;
    border-radius: 15px;
}

.p-td-owners-data {
    margin-top: 1px;
    margin-left: 10px;
    font-size: 25px;
}

.table-inner-owners-data {
    font-size: 20px;
    margin-left: 10px;
}

.div-portfolio-of-video-editing {
    float: left;
    background: rgb(153, 22, 22);
    color: rgb(207, 200, 188);
    border-radius: 15px;
    margin-top: 30px;
    float: left;
    width: 1020px;
    opacity: 95%;
}

.h1-div-portfolio-of-video-editing {
    margin-left: 10px;
    background-image: linear-gradient(to right, rgb(153, 22, 22), rgb(46, 45, 45), rgb(46, 45, 45), rgb(46, 45, 45), rgb(46, 45, 45), rgb(46, 45, 45), rgb(153, 22, 22));
    border-radius: 7px;
    width: 480px;
    /*border: 1px outset;*/
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    opacity: 95%;
}

.video-portfolio-of-video-editing {
    width: 400px;
    height: auto;
    margin-left: 60px;
    margin-bottom: 20px;
    border-radius: 15px;
    transition: width 0.25s, height 0.25s;
}

.video-portfolio-of-video-editing:hover {
    width: 480px;
    height: auto;
}

.div-portfolio-of-canva-graphic-designing {
    float: right;
    background: rgb(153, 22, 22);
    color: rgb(207, 200, 188);
    border-radius: 15px;
    margin-top: 30px;
    float: left;
    /*border: 1px outset;*/
    width: 1020px;
    opacity: 95%;
}

.h1-div-portfolio-of-Canva-Graphic-Designing {
    margin-left: 10px;
    background-image: linear-gradient(to right, rgb(153, 22, 22), rgb(46, 45, 45), rgb(46, 45, 45), rgb(46, 45, 45), rgb(46, 45, 45), rgb(46, 45, 45), rgb(153, 22, 22));
    border-radius: 7px;
    width: 670px;
    /*border: 1px outset;*/
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    opacity: 95%;
}

.img-canva-graphic-designing {
    width: 300px;
    height: auto;
    margin-left: 58px;
    border-radius: 25px;
    transition: width 1s, height 1s;
    margin-bottom: 15px;
}

.img-canva-graphic-designing:hover {
    width: 580px;
    height: auto;
}

.h3-portfolio-data2 {
    margin-left: 160px;
    margin-top: 30px;
    background-image: linear-gradient(to right, rgb(153, 22, 22), rgb(46, 45, 45), rgb(46, 45, 45), rgb(46, 45, 45), rgb(46, 45, 45), rgb(46, 45, 45), rgb(153, 22, 22));
    border-radius: 7px;
    width: 700px;
    /*border: 1px outset;*/
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    opacity: 95%;
}

.h3-portfolio-data3 {
    margin-left: 260px;
    margin-top: 30px;
    background-image: linear-gradient(to right, rgb(153, 22, 22), rgb(46, 45, 45), rgb(46, 45, 45), rgb(46, 45, 45), rgb(46, 45, 45), rgb(46, 45, 45), rgb(153, 22, 22));
    border-radius: 7px;
    width: 580px;
    /*border: 1px outset;*/
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    opacity: 95%;
}

.div-portfolio-of-AutoACD-2D-3D-designing {
    float: right;
    background: rgb(153, 22, 22);
    color: rgb(207, 200, 188);
    border-radius: 15px;
    margin-top: 30px;
    float: left;
    /*border: 1px outset;*/
    width: 1020px;
    opacity: 95%;
}

.h1-div-portfolio-of-AutoACD-2D-3D-designing {
    margin-left: 10px;
    background-image: linear-gradient(to right, rgb(153, 22, 22), rgb(46, 45, 45), rgb(46, 45, 45), rgb(46, 45, 45), rgb(46, 45, 45), rgb(46, 45, 45), rgb(153, 22, 22));
    border-radius: 7px;
    width: 690px;
    /*border: 1px outset;*/
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    opacity: 95%;
}

.img-portfolio-of-AutoACD-2D-3D-designing {
    width: 290px;
    height: auto;
    margin-left: 58px;
    border-radius: 25px;
    transition: width 1s, height 1s;
    margin-bottom: 15px;
}

.img-portfolio-of-AutoACD-2D-3D-designing:hover {
    width: 600px;
    height: auto;
}